<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <div class="container">

           <form method="post" th:action="@{/auth/loginProc}">

            <div class="form-group">
                <label for="username">Username</label> <input type="text" class="form-control" placeholder="Enter username" id="username" name="username">
            </div>

            <div class="form-group">
                <label for="password">Password</label> <input type="password" class="form-control" placeholder="Enter password" id="password" name="password">
            </div>

            <div class="form-group form-check">
                <label class="form-check-label"> <input class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"  style="color: red;"></p>
            <button type="submit" id="btn-login"  class="btn btn-primary">로그인</button>
            
            
	       <a href="https://kauth.kakao.com/oauth/authorize?client_id=3e5c0148058f1d1db8f55cea63a6e820&redirect_uri=http://localhost:8000/auth/kakao/callback&response_type=code" >
				<img th:src="@{/images/kakao_login_button.png}" height="38">
			</a>
                        
            
        </form>

    </div>



</div>



<!-- <th:block layout:fragment="script">
    <script th:src="@{/js/user.js}"></script>
</th:block>
 -->
</html>