<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">


    <input type="hidden" id="home" th:value="@{/}" >
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand"  th:href="@{/}">Thymeleaf Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">


<!--
                일반적인 세션 로그인 처리일 경우 다음과 같이 처리
               <th:block  th:if="${session.principal == null}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/loginForm}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/joinForm}">회원가입</a></li>
               </th:block>
                <th:block th:unless="${session.principal == null}">
                    <li class="nav-item"><a class="nav-link" th:href="@{/form}">글쓰기</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/form}">회원정보</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">로그아웃</a></li>
                </th:block>
-->



                <th:block  sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/auth/loginForm}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/auth/joinForm}">회원가입</a></li>
                </th:block>
                <th:block  sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" th:href="@{/board/saveForm}">글쓰기</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/updateForm}">회원정보</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/auth/logout}">로그아웃</a></li>
                </th:block>



            </ul>
        </div>
    </nav>

</div>

</html>